.btn {
	background-color: transparent;
	text-decoration: none;
	font-family: inherit;
	cursor: pointer;
	display: inline-block;
	outline: none;
	border: none;
	color: inherit;
}

.btn--default {
	font-size: 16px;
	font-weight: 500;
	padding: 10px 15px;
	min-width: 100px;
	border-radius: 3px;
	background-color: #f2f2f2;
	color: #333;
}

.btn--primary {
	font-size: 16px;
	font-weight: 500;
	padding: 10px 15px;
	min-width: 100px;
	border-radius: 3px;
	background-color: #5d00ef;
	color: #fff;
}

.btn--danger {
	font-size: 16px;
	font-weight: 500;
	padding: 10px 15px;
	min-width: 100px;
	border-radius: 3px;
	background-color: #b3382c;
	color: #fff;
}
