.modal-wrapper {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow-y: auto;
	padding: 70px 20px;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal {
	line-height: 1.3;
	position: relative;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	margin: auto;
	width: 520px;
	background-color: #fff;
	color: #333;
	border-radius: 6px;
	overflow: hidden;
}

.modal__content {
	color: inherit;
}

.modal__title {
	font-size: 22px;
	padding-right: 20px;
	font-weight: 500;
}

.modal__header {
	padding: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal__body {
	padding: 40px 15px 25px;
	min-height: 40px;
	font-size: 15px;
}

.modal__footer {
	padding: 5px 0 15px;
	& .btn {
		margin: 10px;
	}
}

.modal__icon {
	display: flex;
	align-items: center;
	color: inherit;
	fill: #fff;
	font-size: 25px;
}

.bg--danger-dark {
	background-color: #d44637;
}

.bg--danger {
	background-color: #e74c3c;
}

.bg--primary {
	background-color: #5d00ef;
}

.text--light {
	color: #fff;
}
