.goods__image-wrapper {
	height: 150px;
}

.goods__image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.goods__title {
	font-size: 24px;
	font-weight: 700;
}

.goods__favorite {
	font-size: 24px;
}

.goods__item svg {
	font-size: 24px;
}
