.favorite__item {
	color: #fff;
	border-radius: 6px;
	padding: 5px 10px;
	background-color: #29282d;
}

.favorite__image-wrapper {
	height: 150px;
}

.favorite__image {
	box-sizing: border-box;
	padding: 5px 5px;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.favorite__title {
	padding: 20px 0;
	font-size: 24px;
	font-weight: 700;
}

.favorite__favorite {
	font-size: 24px;
}

.favorite__item svg {
	color: #dbdbdb;
	font-size: 32px;
}

.favorite__controller {
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #000;
}
