.navbar {
	background-color: #333;
}

.navbar__list {
	padding: 20px 0;
	display: flex;
}

.navbar__item {
	&:not(:last-child) {
		margin-right: 25px;
	}
}

.navbar__link {
	color: #fff;
	text-transform: capitalize;
	text-decoration: none;
}

.navbar__item.active {
	background-color: red;
}
